.loader {
  @apply w-fit;

  .ball {
    margin: 5px;
    border-radius: 50%;
    @apply bg-gray-500 w-4 h-4;
    animation: changeColor 1.5s linear infinite;

    &:nth-child(1) { animation-delay: 0s; }
    &:nth-child(2) { animation-delay: 0.5s; }
    &:nth-child(3) { animation-delay: 1s; }
  }

  @keyframes changeColor {
    0%, 33.33%, 100% {
        @apply bg-gray-800;
    }
    66.66% {
        @apply bg-gray-400;
    }
  }
}