.nav-links a {
    color: rgb(245 158 11);
    &:hover {
    color: rgb(252 211 77);
    }
}

.nav-links .active-link {
    color:  rgb(14 165 233);
    &:hover {
        color: rgb(125 211 252);
    }
}