<nav class="fixed bg-gradient-to-l from-indigo-900 from-30% via-purple-700 via-60% to-indigo-800 to-90% dark:bg-gray-900 p-2 transition delay-150 duration-300 ease-in-out w-full z-50">
  <div class="container mx-auto flex justify-between items-center">
    <div class="flex">
      <a routerLink="/" class="text-amber-500 md:text-3xl text-xl font-bold"><img class="inline rounded-full mr-2" src="favicon.ico" alt="logo" width="35">Records Sphere</a>
      
    </div>
    <div class="hidden space-x-6 md:flex nav-links">
      <a routerLink="/home" routerLinkActive="active-link" class="text-gray-300 dark:text-gray-400 dark:hover:text-cyan-500 hover:text-cyan-500">
        <fa-icon [icon]="['fas', 'home']"></fa-icon> Home
      </a>
      <a routerLink="/search" routerLinkActive="active-link" class="text-gray-300 dark:text-gray-400 dark:hover:text-amber-500 hover:text-amber-500">
        <fa-icon [icon]="['fas', 'search']"></fa-icon> Search
      </a>
      <a routerLink="/about" routerLinkActive="active-link" class="text-gray-300 dark:text-gray-400 dark:hover:text-amber-500 hover:text-amber-500">
        <fa-icon [icon]="['fas', 'info-circle']"></fa-icon> About
      </a>
      <!-- Theme Toggle -->
      <app-theme-toggle></app-theme-toggle>
    </div>
    <!-- for smaller screens-->
    <div class="flex space-x-6 md:hidden nav-links">
      <a routerLink="/home" routerLinkActive="active-link" class="text-gray-300 dark:text-gray-400 dark:hover:text-cyan-500 hover:text-cyan-500">
        <fa-icon [icon]="['fas', 'home']"></fa-icon>
      </a>
      <a routerLink="/search" routerLinkActive="active-link" class="text-gray-300 dark:text-gray-400 dark:hover:text-amber-500 hover:text-amber-500">
        <fa-icon [icon]="['fas', 'search']"></fa-icon>
      </a>
      <a routerLink="/about" routerLinkActive="active-link" class="text-gray-300 dark:text-gray-400 dark:hover:text-amber-500 hover:text-amber-500">
        <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>
      </a>
      <!-- Theme Toggle -->
      <app-theme-toggle></app-theme-toggle>
    </div>
  </div>
</nav>