@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fade-in {
    animation: fadeIn 1s ease-in-out;
  }

  .fade-in-up {
    animation: fadeInUp 1s ease-in-out;
  }

  .record-card {
    @apply m-2 p-2 border border-solid border-gray-300 rounded shadow-md transition-shadow font-mono;

    &:hover {
      @apply shadow-lg;
    }

    h3 {
      .record-label {
        @apply text-lg font-bold underline;
      }
  
      .record-value {
        @apply text-2xl capitalize;
      }
    }

    p {
      .record-label {
        @apply text-sm font-bold;
      }

      .record-value {
        @apply text-xl;
      }
    }

    .record-image{
      max-height: 50vh;

      @apply w-full object-cover rounded;
    }

    .sources {
      @apply text-xs text-gray-500 capitalize;
      
      a {
        @apply text-xs text-blue-500 hover:underline hover:text-blue-700;
      }
    }

    .related-links {
      a {
        @apply text-xs text-blue-500 hover:underline hover:text-blue-700;
      }
    }

  }

  .temp-height {
    height: 50vh;
  }