<section class="md:p-16 p-8 fade-in-up transition delay-150 duration-300 ease-in-out">
    <div class="mt-12 md:mt-8 text-center mb-8">
      <h1 class="text-4xl font-bold mb-4">Welcome to Record Sphere</h1>
      <p class="text-lg text-gray-400 dark:text-gray-600">Your ultimate source for global records in various domains.</p>
    </div>
    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <div class="bg-indigo-800 p-6 rounded-lg shadow-lg">
        <h2 class="text-2xl font-semibold mb-2">Guinness World Records</h2>
        <p class="text-gray-400">Explore the most astonishing and remarkable records from around the world.</p>
        <button (click)="fetchGuinnessRecords()" class="mt-4 text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 rounded-lg py-2 px-4">Show Records</button>
        <div *ngIf="showGuinnessRecords" class="mt-4 w-full">
          <div class="bg-gray-900 text-gray-300 p-6 rounded-lg shadow-lg" *ngFor="let record of guinnessRecords$ | async">
                <h2 class="text-2xl font-semibold mb-2">{{ record['title'] }}</h2>
                <p>{{ record['description'] }}</p>
          </div>
        </div>
    </div>
      
      <div class="bg-indigo-800 p-6 rounded-lg shadow-lg">
        <h2 class="text-2xl font-semibold mb-2">Olympics</h2>
        <p class="text-gray-400">Discover the greatest achievements and records in the history of the Olympic Games.</p>
      </div>
      
      <div class="bg-indigo-800 p-6 rounded-lg shadow-lg">
        <h2 class="text-2xl font-semibold mb-2">Football</h2>
        <p class="text-gray-400">Dive into the records of World Cup, UEFA Champions League, and top European leagues.</p>
      </div>
      
      <div class="bg-indigo-800 p-6 rounded-lg shadow-lg">
        <h2 class="text-2xl font-semibold mb-2">NBA</h2>
        <p class="text-gray-400">Explore the most impressive records in the history of the NBA.</p>
      </div>
      
      <div class="bg-indigo-800 p-6 rounded-lg shadow-lg">
        <h2 class="text-2xl font-semibold mb-2">NFL</h2>
        <p class="text-gray-400">Check out the top records and achievements in the NFL.</p>
      </div>
      
      <div class="bg-indigo-800 p-6 rounded-lg shadow-lg">
        <h2 class="text-2xl font-semibold mb-2">Tennis</h2>
        <p class="text-gray-400">Find out the records in men's and women's tennis.</p>
      </div>
      
      <div class="bg-indigo-800 p-6 rounded-lg shadow-lg">
        <h2 class="text-2xl font-semibold mb-2">WWE</h2>
        <p class="text-gray-400">Discover the most thrilling records in WWE history.</p>
      </div>
      
      <div class="bg-indigo-800 p-6 rounded-lg shadow-lg">
        <h2 class="text-2xl font-semibold mb-2">UFC</h2>
        <p class="text-gray-400">Explore the top records in UFC.</p>
      </div>
      
      <div class="bg-indigo-800 p-6 rounded-lg shadow-lg">
        <h2 class="text-2xl font-semibold mb-2">Boxing</h2>
        <p class="text-gray-400">Check out the greatest records in the history of boxing.</p>
      </div>
      
      <div class="bg-indigo-800 p-6 rounded-lg shadow-lg">
        <h2 class="text-2xl font-semibold mb-2">Formula 1</h2>
        <p class="text-gray-400">Discover the top records in Formula 1 racing.</p>
      </div>
    </div>
  </section>
  