<section class="md:p-16 p-8 fade-in-up transition delay-150 duration-300 ease-in-out">
    <div class="mt-12 md:mt-8 text-center mb-8">
      <h1 class="text-4xl font-bold mb-4">Welcome to Record Sphere</h1>
      <p class="text-lg text-gray-400 dark:text-gray-600">Your ultimate source for global records in various domains.</p>
    </div>
    
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <div *ngFor="let collectionName of collectionNames" class="bg-indigo-800 p-6 rounded-lg shadow-lg">
        <h2 class="text-2xl font-semibold mb-2">{{ getCollectionTitle(collectionName) }}</h2>
        <p class="text-gray-400">{{ getCollectionDescription(collectionName) }}</p>
        <button (click)="showRecords(collectionName)" class="p-2 m-1 bg-blue-700 hover:bg-opacity-80 text-white rounded-md">{{showRecordsTracker[collectionName] ? 'Hide' : 'Show'}} Records</button>
        <div *ngIf="showRecordsTracker[collectionName]">
          <div *ngIf="records[collectionName] && records[collectionName].length > 0; else noRecords">
            <div *ngFor="let record of records[collectionName]" class="record-card">
              <h3>{{ record.title }}</h3>
              <p>{{ record.description }}</p>
            </div>
          </div>
          <ng-template #noRecords>
            <p>No records found.</p>
          </ng-template>
        </div>
      </div>
    </div>
  </section>
  