<section class="md:p-16 p-8 fade-in-up transition delay-150 duration-300 ease-in-out">
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi magni ea quis labore quibusdam.</p>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi deserunt dolores enim maiores laudantium sint vitae hic nulla architecto dolorem, corporis consequuntur id? Quia, quis reiciendis debitis voluptatibus repellat mollitia quod? Aperiam velit reprehenderit distinctio! Voluptas natus placeat maxime error beatae, quo, enim, quas hic iure nam nobis facilis voluptate.</p>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi deserunt dolores enim maiores laudantium sint vitae hic nulla architecto dolorem, corporis consequuntur id? Quia, quis reiciendis debitis voluptatibus repellat mollitia quod? Aperiam velit reprehenderit distinctio! Voluptas natus placeat maxime error beatae, quo, enim, quas hic iure nam nobis facilis voluptate.</p>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi deserunt dolores enim maiores laudantium sint vitae hic nulla architecto dolorem, corporis consequuntur id? Quia, quis reiciendis debitis voluptatibus repellat mollitia quod? Aperiam velit reprehenderit distinctio! Voluptas natus placeat maxime error beatae, quo, enim, quas hic iure nam nobis facilis voluptate.</p>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi deserunt dolores enim maiores laudantium sint vitae hic nulla architecto dolorem, corporis consequuntur id? Quia, quis reiciendis debitis voluptatibus repellat mollitia quod? Aperiam velit reprehenderit distinctio! Voluptas natus placeat maxime error beatae, quo, enim, quas hic iure nam nobis facilis voluptate.</p>
    </div>
</section>